// Core CSS (required)
@mixin table-flip-scroll-core() {
  table { 
    display: block;
    position: relative;
    width: 100%; 
    border-collapse: collapse; 
    border-spacing: 0;
    thead {
      display: block; 
      float: left; 
      tr {
        display: block;
      }
    }
    tbody { 
      display: block; 
      width: auto; 
      position: relative; 
      overflow-x: auto; 
      white-space: nowrap;
      tr {
        display: inline-block; 
        vertical-align: top; 
      }
    }
    th,
    td {
      margin: 0; 
      vertical-align: top; 
      display: block;
      text-align: left;
    }
  }
}

// Skin CSS (optional)
@mixin table-flip-scroll-skin(
  $thead-width: 33.33333%, 
  $border-width: 1px, 
  $border-color: #ccc) {
  table {
    thead {
      width: $thead-width;
    }
    th {
      border-bottom: 0;
      border-left: 0;
    }
    td {
      border-left: 0;
      border-right: 0;
      border-bottom: 0;
    }
    tbody {
      tr {
        border-left: $border-width solid $border-color;
      }
    }
    th:last-child,
    td:last-child {
      border-bottom: $border-width solid $border-color;
    }
  }
}
